{
   "printWidth": 100,
   "trailingComma": "es5",
   "tabWidth": 4,
   "useTabs": true,
   "endOfLine": "auto",
   "requirePragma": false,
   "insertPragma": false,
   "htmlWhitespaceSensitivity": "ignore",
   "plugins": ["prettier-plugin-jinja-template"],
   "overrides": [
      {
        "files": ["*.html"],
        "options": {
          "parser": "jinja-template"
        }
      }
    ]
}