{% extends "layout.html" %}
{% block title %}Actualizar producto{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
		<li>
			<a href="/productos" class="link" data-tooltip="Volver a productos" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Productos</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/productos/actualizar" method="POST">
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="id">ID del producto</label>
				<input id="id" class="iTxt" type="number" name="id" placeholder="Ej: 1" required />
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="nombre">Nuevo nombre</label>
				<input
					id="nombre"
					class="iTxt"
					type="text"
					name="nombre"
					placeholder="Ej: Cerveza Negra"
					required
				/>
			</div>
		</div>
		<div>
			<button type="submit" class="bttn">Actualizar producto</button>
		</div>
	</form>
	{% if error %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<p class="--txtColor-danger">{{ error }}</p>
		</div>
	{% endif %}
	{% if success %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<p class="--txtColor-success">{{ success }}</p>
		</div>
	{% endif %}
{% endblock %}
