<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="anonymous" />
		<link rel="preconnect" href="https://unpkg.com/" crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@fortawesome/fontawesome-free@^6/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@open-xamu-co/ui-styles@^3.0.0-next.29/dist/index.min.css"
		/>
		<link rel="stylesheet" href="/css/main.css" />
		<title>Consultar Producto - Cervecería artesanal</title>
	</head>
	<body>
		<main id="appex" class="--txtColor-dark7">
			<div id="login" class="view --flx --minHeight-100">
				<section class="view-item --minHeightVh-100 --bgColor">
					<div class="holder --flx-center --gap-30">
						<div
							class="flx --flxColumn --flx-center-start --gap-30 --flx --pY --minWidth-50 --maxWidth-100"
						>
							<a href="/productos" class="link">
								<i class="icon fa-solid fa-arrow-left"></i>
								<span>Volver a productos</span>
							</a>
							<div class="flx --flxColumn --gap-5">
								<h4 class="--opacity-05">Cervecería artesanal</h4>
								<h1>Consultar producto</h1>
							</div>
							<form
								class="flx --flxColumn --gap-20"
								action="/productos/consultar"
								method="POST"
							>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="id">ID del producto</label>
									<input
										id="id"
										class="iTxt"
										type="number"
										name="id"
										placeholder="Ej: 1"
										required
									/>
								</div>
								<div>
									<button type="submit" class="bttn">Consultar producto</button>
								</div>
							</form>
							{% if producto == False %}
								<div class="flx --flxColumn --gap-10 --flx-start">
									<p class="--txtColor-danger">El producto no existe</p>
								</div>
							{% elif producto %}
								<div class="flx --flxColumn --gap-10 --flx-start">
									<h3>Información del producto</h3>
									<p>
										<strong>ID:</strong>
										{{ producto.id }}
									</p>
									<p>
										<strong>Nombre:</strong>
										{{ producto.nombre }}
									</p>
									<p>
										<strong>Precio de producción:</strong>
										${{ producto.produccion }}
									</p>
									<p>
										<strong>Precio de venta:</strong>
										${{ producto.precio }}
									</p>
									<p>
										<strong>Peso:</strong>
										{{ producto.peso }} g
									</p>
									<p>
										<strong>Volumen:</strong>
										{{ producto.volumen }} ml
									</p>
									<p>
										<strong>Fecha de vencimiento:</strong>
										{{ producto.vencimiento }}
									</p>
								</div>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
