{% extends "layout.html" %}
{% block title %}Consultar producto{% endblock %}
{% block back %}
	<a href="/productos" class="link">
		<i class="icon fa-solid fa-arrow-left"></i>
		<span>Volver a productos</span>
	</a>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/productos/consultar" method="POST">
		<div class="flx --flxColumn --gap-10 --flx-start">
			<label for="id">ID del producto</label>
			<input id="id" class="iTxt" type="number" name="id" placeholder="Ej: 1" required />
		</div>
		<div>
			<button type="submit" class="bttn">Consultar producto</button>
		</div>
	</form>
	{% if producto == False %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<p class="--txtColor-danger">El producto no existe</p>
		</div>
	{% elif producto %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<h3>Información del producto</h3>
			<p>
				<strong>ID:</strong>
				{{ producto.id }}
			</p>
			<p>
				<strong>Nombre:</strong>
				{{ producto.nombre }}
			</p>
			<p>
				<strong>Precio de producción:</strong>
				${{ producto.produccion }}
			</p>
			<p>
				<strong>Precio de venta:</strong>
				${{ producto.precio }}
			</p>
			<p>
				<strong>Peso:</strong>
				{{ producto.peso }} g
			</p>
			<p>
				<strong>Volumen:</strong>
				{{ producto.volumen }} ml
			</p>
			<p>
				<strong>Fecha de vencimiento:</strong>
				{{ producto.vencimiento }}
			</p>
		</div>
	{% endif %}
{% endblock %}
