{% extends "layout.html" %}
{% block title %}Crear producto{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
		<li>
			<a href="/productos" class="link" data-tooltip="Volver a productos" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Productos</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/productos/crear" method="POST">
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="id">ID del producto</label>
				<input id="id" class="iTxt" type="number" name="id" placeholder="Ej: 1" required />
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="nombre">Nombre del producto</label>
				<input
					id="nombre"
					class="iTxt"
					type="text"
					name="nombre"
					placeholder="Ej: Cerveza Rubia"
					required
				/>
			</div>
		</div>
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start --width-100">
				<label for="volumen">Volumen (ml)</label>
				<input
					id="volumen"
					class="iTxt"
					type="number"
					name="volumen"
					placeholder="Ej: 330"
					required
				/>
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start --width-100">
				<label for="vencimiento">Fecha de vencimiento</label>
				<input id="vencimiento" class="iTxt" type="date" name="vencimiento" required />
			</div>
		</div>
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="precioProduccion">Precio de producción</label>
				<input
					id="precioProduccion"
					class="iTxt"
					type="number"
					name="precioProduccion"
					placeholder="Ej: 3000"
					required
				/>
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="precioVenta">Precio de venta</label>
				<input
					id="precioVenta"
					class="iTxt"
					type="number"
					name="precioVenta"
					placeholder="Ej: 5000"
					required
				/>
			</div>
		</div>
		<div>
			<button type="submit" class="bttn">Crear producto</button>
		</div>
	</form>
	{% if error %}
		<p class="--txtColor-danger">{{ error }}</p>
	{% elif success %}
		<p class="--txtColor-success">{{ success }}</p>
	{% endif %}
{% endblock %}
