{% extends "layout.html" %}
{% block title %}Gestión de productos{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<div class="flx --flxColumn --flx-start --gap-10">
		<h4 class="--opacity-05">Menú productos</h4>
		<ul class="flx --flxRow-wrap --flx-start --gap-10">
			<li class="">
				<a
					class="bttnToggle"
					href="/productos/crear"
					data-tooltip="Crear un producto"
					data-tooltip-text
				>
					Crear
				</a>
			</li>
			<li class="">
				<a
					class="bttnToggle"
					href="/productos/actualizar"
					data-tooltip="Actualizar el nombre de un producto"
					data-tooltip-text
				>
					Actualizar nombre
				</a>
			</li>
			<li class="">
				<a
					class="bttnToggle"
					href="/productos/consultar"
					data-tooltip="Consultar un producto"
					data-tooltip-text
				>
					Consultar
				</a>
			</li>
		</ul>
	</div>
{% endblock %}
