{% extends 'layout.html' %}
{% block title %}Borrar Venta{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
		<li>
			<a href="/ventas" class="link" data-tooltip="Volver a ventas" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Ventas</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/ventas/borrar" method="POST">
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="factura">ID de la Factura</label>
				<input
					class="iTxt"
					type="text"
					id="factura"
					name="factura"
					placeholder="Ej: 123"
					required
				/>
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="producto">ID del Producto</label>
				<input
					id="producto"
					class="iTxt"
					type="text"
					name="producto"
					placeholder="Ej: 1"
					required
				/>
			</div>
		</div>
		<div>
			<button type="submit" class="bttn --tm-danger-light">Borrar Venta</button>
		</div>
	</form>
	{% if error %}
		<p class="--txtColor-danger">{{ error }}</p>
	{% elif success %}
		<p class="--txtColor-success">{{ success }}</p>
	{% endif %}
{% endblock %}
