{% extends "layout.html" %}
{% block title %}Ventas{% endblock %}
{% block back %}
	<a href="/" class="link">
		<i class="icon fa-solid fa-arrow-left"></i>
		<span>Volver a inicio</span>
	</a>
{% endblock %}
{% block content %}
	<div class="flx --flxColumn --flx-start --gap-10">
		<h4 class="--opacity-05">Menú ventas</h4>
		<ul class="flx --flxRow-wrap --flx-start --gap-10">
			<li class="">
				<a
					class="bttnToggle"
					href="/ventas/crear"
					data-tooltip="Vender productos"
					data-tooltip-text
				>
					Vender
				</a>
			</li>
			<li class="">
				<a
					class="bttnToggle"
					href="/ventas/borrar"
					data-tooltip="Borrar productos de una venta"
					data-tooltip-text
				>
					Borrar
				</a>
			</li>
		</ul>
	</div>
{% endblock %}
