<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/css/poppins/all.min.css" />
		<link rel="stylesheet" href="/css/fontawesome/all.min.css" />
		<link rel="stylesheet" href="/css/xamu.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>{% block title %}{% endblock %} - Cervecería artesanal</title>
		{% if not debug %}
			<script type="text/javascript">
				// Prevenir uso de la consola
				document.onkeydown = function (e) {
					if (e.key === "F12") e.preventDefault();
				};
				document.addEventListener("contextmenu", function (e) {
					e.preventDefault();
				});
			</script>
		{% endif %}
	</head>
	<body>
		<!--
         Esta plantilla define el layout general de la aplicación.

         https://flask.palletsprojects.com/en/stable/tutorial/layout/
      -->
		<main id="appex" class="--txtColor-dark7">
			<div id="login" class="view --flx --minHeight-100">
				<section class="view-item --minHeightVh-100 --bgColor">
					<div class="holder --flx-center --gap-30 --maxWidth-1080">
						<div class="flx --flxRow --flx-end-center  --width-100">
							<div class="txt --pY --txtSize-sm --txtAlign-right ">
								<a href="/cerrar" class="link --tm-danger">
									<i class="icon fa-solid fa-power-off"></i>
									<span>Cerrar aplicación</span>
								</a>
							</div>
						</div>
						<div
							class="flx --flxColumn --flx-center-start --gap-30 --flx --pY --width-100"
						>
							{% block back %}{% endblock %}
							<div class="flx --flxColumn --gap-5">
								<h3 class="flx --flxRow --flx-start-center --gap-10">
									<i
										class="icon --size-20 --opacity-07 fa-solid fa-beer-mug-empty "
									></i>
									<span class=" --opacity-05">Cervecería artesanal</span>
								</h3>
								<h1>{{ self.title() }}</h1>
							</div>
							{% block content %}{% endblock %}
						</div>
						<div class="txt --pY --txtSize-sm --txtAlign-center">
							<p>
								Desarrollado por
								<b>Angie Hurtado,</b>
								<b>Federico Puentes,</b>
								<b>Santiago Puentes</b>
								&
								<b>Victor Saa.</b>
							</p>
						</div>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
