{% extends "layout.html" %}
{% block title %}Actualizar cliente{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
		<li>
			<a href="/clientes" class="link" data-tooltip="Volver a clientes" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Clientes</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/clientes/actualizar" method="POST">
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="id">ID del cliente</label>
				<input id="id" class="iTxt" type="number" name="id" placeholder="Ej: 1" required />
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="direccion">Nueva dirección</label>
				<input
					id="direccion"
					class="iTxt"
					type="text"
					name="direccion"
					placeholder="Ej: Calle 123"
					required
				/>
			</div>
		</div>
		<div>
			<button type="submit" class="bttn">Actualizar cliente</button>
		</div>
	</form>
	{% if error %}
		<p class="--txtColor-danger">{{ error }}</p>
	{% elif success %}
		<p class="--txtColor-success">{{ success }}</p>
	{% endif %}
{% endblock %}
