{% extends "layout.html" %}
{% block title %}Consultar cliente{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
		<li>
			<a href="/clientes" class="link" data-tooltip="Volver a clientes" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Clientes</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/clientes/consultar" method="POST">
		<div class="flx --flxColumn --gap-10 --flx-start">
			<label for="id">ID del cliente</label>
			<input
				id="id"
				class="iTxt"
				type="text"
				name="id"
				placeholder="Ej: CC123456789"
				required
			/>
		</div>
		<div>
			<button type="submit" class="bttn">Consultar cliente</button>
		</div>
	</form>
	{% if cliente == False %}
		<p class="--txtColor-danger">El cliente no existe</p>
	{% elif cliente %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<h3>Información del cliente</h3>
			<p>
				<strong>ID:</strong>
				{{ cliente.id }}
			</p>
			<p>
				<strong>Nombre:</strong>
				{{ cliente.nombre }}
			</p>
			<p>
				<strong>Apellido:</strong>
				{{ cliente.apellido }}
			</p>
			<p>
				<strong>Dirección:</strong>
				{{ cliente.direccion }}
			</p>
			<p>
				<strong>Teléfono:</strong>
				{{ cliente.telefono }}
			</p>
			<p>
				<strong>Email:</strong>
				{{ cliente.email }}
			</p>
		</div>
	{% endif %}
{% endblock %}
