{% extends "layout.html" %}
{% block title %}Crear cliente{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
		<li>
			<a href="/clientes" class="link" data-tooltip="Volver a clientes" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Clientes</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<form class="flx --flxColumn --gap-20" action="/clientes/crear" method="POST">
		<div class="flx --flxColumn --gap-10 --flx-start">
			<label for="id">ID del Cliente</label>
			<input
				type="text"
				class="iTxt"
				id="id"
				name="id"
				placeholder="Ej: CC123456789"
				required
			/>
		</div>
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="nombre">Nombre</label>
				<input
					type="text"
					class="iTxt"
					id="nombre"
					name="nombre"
					placeholder="Ej: Juan"
					required
				/>
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="apellido">Apellido</label>
				<input
					type="text"
					class="iTxt"
					id="apellido"
					name="apellido"
					placeholder="Ej: Pérez"
					required
				/>
			</div>
		</div>
		<div class="flx --flxColumn --gap-10 --flx-start">
			<label for="direccion">Dirección</label>
			<input
				type="text"
				class="iTxt"
				id="direccion"
				name="direccion"
				placeholder="Ej: Calle 123"
				required
			/>
		</div>
		<div class="flx --flxRow --flx-start">
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="telefono">Teléfono</label>
				<input
					type="text"
					class="iTxt"
					id="telefono"
					name="telefono"
					placeholder="Ej: 3001234567"
					required
				/>
			</div>
			<div class="flx --flxColumn --gap-10 --flx-start">
				<label for="email">Email</label>
				<input
					type="email"
					class="iTxt"
					id="email"
					name="email"
					placeholder="Ej: juan@correo.com"
					required
				/>
			</div>
		</div>
		<div>
			<button type="submit" class="bttn">Crear Cliente</button>
		</div>
	</form>
	{% if error %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<p class="--txtColor-danger">{{ error }}</p>
		</div>
	{% elif success %}
		<div class="flx --flxColumn --gap-10 --flx-start">
			<p class="--txtColor-success">{{ success }}</p>
		</div>
	{% endif %}
{% endblock %}
