<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="anonymous" />
		<link rel="preconnect" href="https://unpkg.com/" crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@fortawesome/fontawesome-free@^6/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@open-xamu-co/ui-styles@^3.0.0-next.29/dist/index.min.css"
		/>
		<link rel="stylesheet" href="/css/main.css" />
		<title>Crear cliente - Cervecería artesanal</title>
	</head>
	<body>
		<main id="appex" class="--txtColor-dark7">
			<div id="login" class="view --flx --minHeight-100">
				<section class="view-item --minHeightVh-100 --bgColor">
					<div class="holder --flx-center --gap-30">
						<div
							class="flx --flxColumn --flx-center-start --gap-30 --flx --pY --minWidth-50 --maxWidth-100"
						>
							<a href="/clientes" class="link">
								<i class="icon fa-solid fa-arrow-left"></i>
								<span>Volver a clientes</span>
							</a>
							<div class="flx --flxColumn --gap-5">
								<h4 class="--opacity-05">Cervecería artesanal</h4>
								<h1>Crear cliente</h1>
							</div>
							<form
								class="flx --flxColumn --gap-20"
								action="/clientes/crear"
								method="POST"
							>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="id">ID del Cliente</label>
									<input
										type="text"
										class="iTxt"
										id="id"
										name="id"
										placeholder="Ej: CC123456789"
										required
									/>
								</div>
								<div class="flx --flxRow --flx-start">
									<div class="flx --flxColumn --gap-10 --flx-start">
										<label for="nombre">Nombre</label>
										<input
											type="text"
											class="iTxt"
											id="nombre"
											name="nombre"
											placeholder="Ej: Juan"
											required
										/>
									</div>
									<div class="flx --flxColumn --gap-10 --flx-start">
										<label for="apellido">Apellido</label>
										<input
											type="text"
											class="iTxt"
											id="apellido"
											name="apellido"
											placeholder="Ej: Pérez"
											required
										/>
									</div>
								</div>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="direccion">Dirección</label>
									<input
										type="text"
										class="iTxt"
										id="direccion"
										name="direccion"
										placeholder="Ej: Calle 123"
										required
									/>
								</div>
								<div class="flx --flxRow --flx-start">
									<div class="flx --flxColumn --gap-10 --flx-start">
										<label for="telefono">Teléfono</label>
										<input
											type="text"
											class="iTxt"
											id="telefono"
											name="telefono"
											placeholder="Ej: 3001234567"
											required
										/>
									</div>
									<div class="flx --flxColumn --gap-10 --flx-start">
										<label for="email">Email</label>
										<input
											type="email"
											class="iTxt"
											id="email"
											name="email"
											placeholder="Ej: juan@correo.com"
											required
										/>
									</div>
								</div>
								<div>
									<button type="submit" class="bttn">Crear Cliente</button>
								</div>
							</form>
							{% if error %}
								<div class="flx --flxColumn --gap-10 --flx-start">
									<p class="--txtColor-danger">{{ error }}</p>
								</div>
							{% elif success %}
								<div class="flx --flxColumn --gap-10 --flx-start">
									<p class="--txtColor-success">{{ success }}</p>
								</div>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
