<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="anonymous" />
		<link rel="preconnect" href="https://unpkg.com/" crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@fortawesome/fontawesome-free@^6/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/@open-xamu-co/ui-styles@^3.0.0-next.29/dist/index.min.css"
		/>
		<link rel="stylesheet" href="/css/main.css" />
		<title>Crear Cliente - Cervecería artesanal</title>
	</head>
	<body>
		<main id="appex" class="--txtColor-dark7">
			<div id="login" class="view --flx --minHeight-100">
				<section class="view-item --minHeightVh-100 --bgColor">
					<div class="holder --flx-center --gap-30">
						<div
							class="flx --flxColumn --flx-center-start --gap-30 --flx --pY --minWidth-50 --maxWidth-100"
						>
							<a href="/clientes" class="link">
								<i class="icon fa-solid fa-arrow-left"></i>
								<span>Volver a clientes</span>
							</a>
							<div class="flx --flxColumn --gap-5">
								<h4 class="--opacity-05">Cervecería artesanal</h4>
								<h1>Crear cliente</h1>
							</div>
							<form
								class="flx --flxColumn --gap-20"
								action="/clientes/crear"
								method="POST"
							>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="nombre">Nombre del cliente</label>
									<input
										type="text"
										id="nombre"
										name="nombre"
										required
										class="iTxt"
									/>
								</div>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="apellido">Apellido del cliente</label>
									<input type="text" id="nombre" name="nombre" required class="iTxt" />
								</div>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="direccion">Dirección</label>
									<input
										type="text"
										id="direccion"
										name="direccion"
										required
										class="iTxt"
									/>
								</div>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="telefono">Teléfono</label>
									<input
										type="tel"
										id="telefono"
										name="telefono"
										required
										class="iTxt"
									/>
								</div>
								<div class="flx --flxColumn --gap-10 --flx-start">
									<label for="email">Correo electrónico</label>
									<input type="text" id="nombre" name="nombre" required class="iTxt" />
								</div>
								<button type="submit" class="bttn">Crear cliente</button>
							</form>
						</div>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
