{% extends "layout.html" %}
{% block title %}Gestión de clientes{% endblock %}
{% block back %}
	<ul class="flx --flxRow --flx-start-center">
		<li>
			<a href="/" class="link" data-tooltip="Volver al inicio" data-tooltip-text>
				<i class="icon fa-solid fa-chevron-left"></i>
				<span>Inicio</span>
			</a>
		</li>
	</ul>
{% endblock %}
{% block content %}
	<div class="flx --flxColumn --flx-start --gap-50 --width-100">
		<div class="flx --flxColumn --flx-start --gap-10">
			<h4 class="--opacity-05">Menú clientes</h4>
			<ul class="flx --flxRow-wrap --flx-start --gap-10">
				<li class="">
					<a
						class="bttnToggle"
						href="/clientes/crear"
						data-tooltip="Crear un cliente"
						data-tooltip-text
					>
						Crear
					</a>
				</li>
				<li class="">
					<a
						class="bttnToggle"
						href="/clientes/actualizar"
						data-tooltip="Actualizar la dirección de un cliente"
						data-tooltip-text
					>
						Actualizar dirección
					</a>
				</li>
				<li class="">
					<a
						class="bttnToggle"
						href="/clientes/consultar"
						data-tooltip="Consultar un cliente"
						data-tooltip-text
					>
						Consultar cliente
					</a>
				</li>
			</ul>
		</div>
		{% if clientes|length > 0 %}
			<div class="scroll --horizontal --always --width-100">
				<table class="tbl --minWidth-100 --txtAlign ">
					<thead>
						<tr>
							<th class="--sticky --pY-10">
								<a
									class="link"
									href="/clientes?order={{ mostrarOrden('id') }}&column=id"
									data-tooltip="Ordenar por Id"
									data-tooltip-text
								>
									<span>Id</span>
									<i class="fas fa-sort icon"></i>
								</a>
							</th>
							<td class="--maxWidth-440 --pY-10" width="auto">
								<a
									class="link"
									href="/clientes?order={{ mostrarOrden('nombre') }}&column=nombre"
									data-tooltip="Ordenar por Nombre"
									data-tooltip-text
								>
									<span>Nombre</span>
									<i class="fas fa-sort icon"></i>
								</a>
							</td>
							<td class="--maxWidth-440 --pY-10" width="auto">
								<a
									class="link"
									href="/clientes?order={{ mostrarOrden('apellido') }}&column=apellido"
									data-tooltip="Ordenar por Apellido"
									data-tooltip-text
								>
									<span>Apellido</span>
									<i class="fas fa-sort icon"></i>
								</a>
							</td>
							<td class="--maxWidth-440 --pY-10" width="auto">
								<a
									class="link"
									href="/clientes?order={{ mostrarOrden('direccion') }}&column=direccion"
									data-tooltip="Ordenar por Direccion"
									data-tooltip-text
								>
									<span>Direccion</span>
									<i class="fas fa-sort icon"></i>
								</a>
							</td>
							<td class="--maxWidth-440 --pY-10" width="auto">
								<a
									class="link"
									href="/clientes?order={{ mostrarOrden('telefono') }}&column=telefono"
									data-tooltip="Ordenar por Telefono"
									data-tooltip-text
								>
									<span>Telefono</span>
									<i class="fas fa-sort icon"></i>
								</a>
							</td>
							<td class="--maxWidth-440 --pY-10" width="auto">
								<a
									class="link"
									href="/clientes?order={{ mostrarOrden('email') }}&column=email"
									data-tooltip="Ordenar por Email"
									data-tooltip-text
								>
									<span>Email</span>
									<i class="fas fa-sort icon"></i>
								</a>
							</td>
						</tr>
					</thead>
					<tbody>
						{% for cliente in clientes %}
							<tr>
								<th class="--sticky --pY-10">{{ cliente.id }}</th>
								<td class="--maxWidth-440 --pY-10">{{ cliente.nombre }}</td>
								<td class="--maxWidth-440 --pY-10">{{ cliente.apellido }}</td>
								<td class="--maxWidth-440 --pY-10">{{ cliente.direccion }}</td>
								<td class="--maxWidth-440 --pY-10">
									<a href="tel:{{ cliente.telefono }}">{{ cliente.telefono }}</a>
								</td>
								<td class="--maxWidth-440 --pY-10">
									<a href="mailto:{{ cliente.email }}">{{ cliente.email }}</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}
